<!-- products partial // displays all products with link to expand(toggle) for more results // form to add new products to database // ability to search all products by name -->

<main>
<!-- add product and search section -->
    <section id="prodForm" class="col-md-3">
        <article>
            <input class="form-control" type="text" ng-model="search.name" placeholder="search...">
        </article>

        <div ng-if="alerts.length > 0">
            <div class="alert alert-danger">
                <div ng-repeat="alert in alerts ">
                    {{ alert }}
                </div>
            </div>
        </div>

        <article>
            <h4 style="text-decoration: underline;">Add a new product</h4>
            <form>
                <div class="form-group">
                    <label class="control-label" for="prodName">Name:</label>
                    <input class="form-control" type="text" name="prodName" ng-model="product.name" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="imageUrl">Image (url):</label>
                    <input class="form-control" type="url" name="imageUrl" ng-model="product.imageUrl" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description:</label>
                    <textarea class="form-control" rows="3" name="description" ng-model="product.description" required></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="prodName">Initial Quantity:</label>
                    <input class="form-control" type="number"  ng-model="product.qty" required>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create" ng-click="create()">
                </div>
            </form>
        </article>
    </section>

<!-- display products section -->
    <section id="prodDisplay" class="col-md-7 col-md-offset-1">
        <div ng-repeat="product in products | orderBy:'-_id'">
            <div>
                <div class="thumbnail">
                    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                    <div class="caption"  uib-popover="{{ product.description }}" popover-trigger="'mouseenter'">
                        <p><strong>{{ product.name }}</strong></p>
                        <p>{{ product.qty }} available</p>
                        <!-- <p>{{ product.description }}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
